
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /*border: .1rem solid red;*/
}

:root{
    --lead: #212121;
    --blue-finger: #046580;
    --eye-ball: #e9f8fc;
    --hint-blue: #25a0c2;
    --pure-white: #fff;
}

body{
    background-color: var(--eye-ball);
}

/* BASIC STYLING */

a{
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}

.flex{
    display: flex;
    align-items: center;
}

li{
    list-style: none;
}

.between{
    justify-content: space-between;
}

.gap-2{
    gap: 2rem;
}

.gap-3{
    gap: 3rem;
}

.wrapper{
    max-width: 1400%;
    margin: auto;
    padding-inline: 1.5rem;
}

img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}










/* HEADER STYLING */

.navbar{
    min-height: 14vh;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--blue-finger);
}

.btn{
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--blue-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white); 
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;
}

.btn:hover{
    background: var(--lead);
}

.cart-icon{
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value{
    position: absolute;
    top: 55%;
    right: -55%;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--blue-finger);
    color: var(--pure-white);
    text-align: center;
    line-height: 20px;
}

.desktop-actions .hamburger{
    font-size: 1.5rem;
    display: none;
}

.mobile-menu{
    display: none;
}















/* SECTION STYLING */

.hero-section{
    min-height: calc(100vh - 14vh);
}

.content, 
.image-container{
    flex: 1;

}

h1{
    font-size: 5.6vw;
    color: var(--lead);
}





/* FOOTER STYLING */














/* MEDIA QUERIES */

@media screen and (max-width: 780px){
    .navlist,
    .desktop-actions .btn{
        display: none;
    }

    .desktop-actions .hamburger{
        display: block;
    }

    .mobile-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: -100;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
        border: .1rem solid var(--blue-finger);
        border-radius: 2rem;
        box-shadow: 
        rgba(0, 0, 0, 0.10) 8px 8px 8px
        rgba(0, 0, 0, 0.10) 8px 8px 8px inset;
        transition: all 0.5s ease-in-out;
    }

    .mobile-menu-active{
        left: 50%;
        transform: translateX(-50%);
    }
}






















